$text: #130A25
$accentColor: #8041FF
$grey: #605F5F
$light-grey: #F4F2F6
$white: #FFFFFF
$pink: #BD2773


.text
    color: $text

.accentColor
    color: $accentColor

.grey 
    color: $grey

.light-grey
    color: $light-grey

.white
    color: $white

.pink
    color: $pink