html *
    outline: none
    padding: 0
    margin: 0

body
    background: $white
    font-family: "Rubik-SemiBold", sans-serif
    color: red

body
    padding-top: 84px

.not-padding
    padding: 0

html
    scroll-padding-top: 200px

a
    text-decoration: none

a:hover
    transition: .5s
    text-decoration: none

ul, ol
    li
        list-style-type: none

textarea:focus
    box-shadow: none!important
    outline: none
    border: none
    background: transparent

img, svg
    vertical-align: middle
    max-width: 100%

input, textarea
    -webkit-border-radius: 0
    -webkit-appearance: none

.container
    width: 1320px
    margin: 0 auto
    padding-right: 10px
    padding-left: 10px
    max-width: none

.h1, .h2, .h3, .h4, .h5, .h6, p
    margin-bottom: 0
    margin-top: 0

h1, .h1 
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 60px
    line-height: 100%
    font-weight: 600
    white-space: pre-wrap

.pre-wrap
    white-space: pre-wrap

h2, .h2
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 44px
    line-height: 100%
    font-weight: 600

h3, .h3 
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 32px
    line-height: 32px
    font-weight: 600

h4, .h4
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 24px
    line-height: 24px
    font-weight: 600

h5, .h5 
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 16px
    line-height: 24px
    font-weight: 600

.italic
    font-style: italic

button
    box-shadow: none!important
    outline: none
    border-radius: 0
    border: none
    background-color: transparent

.mb-16
    margin-bottom: 16px
.mb-20
    margin-bottom: 20px
.mb-32
    margin-bottom: 32px
.mb-40
    margin-bottom: 40px
.mb-50
    margin-bottom: 50px
.mb-60
    margin-bottom: 60px
.mb-80
    margin-bottom: 80px
.mb-120
    margin-bottom: 120px
.pb-80
    padding-bottom: 80px
.pb-120
    padding-bottom: 120px
.pt-120
    padding-top: 120px

header 
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 999
    padding: 40px 0