html *
    outline: none
    padding: 0
    margin: 0

body
    background: $white
    font-family: "Rubik-SemiBold", sans-serif
    color: $text


.not-padding
    padding: 0

a
    text-decoration: none

a:hover
    transition: .5s
    text-decoration: none

ul, ol
    li
        list-style-type: none

textarea:focus
    box-shadow: none!important
    outline: none
    border: none
    background: transparent

img, svg
    vertical-align: middle

input, textarea
    -webkit-border-radius: 0
    -webkit-appearance: none

.row
    margin: 0 -15px

// .row > *
//     padding-left: 15px
//     padding-right: 15px

.text
    font-family: 'Rubik-Regular', sans-serif
    font-weight: 400
    font-size: 16px
    line-height: 24px

.text-bold
    font-family: 'Rubik-SemiBold',sans-serif
    font-weight: 600

.container
    width: 1320px
    margin: 0 auto
    padding-right: 10px
    padding-left: 10px
    max-width: none


.h1, .h2, .h3, .h4, .h5, .h6, p
    margin-bottom: 0
    margin-top: 0

h1, .h1 
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 60px
    line-height: 100%
    font-weight: 600

.pre-wrap
    white-space: pre-wrap

h2, .h2
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 44px
    line-height: 100%
    font-weight: 600

h3, .h3 
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 32px
    line-height: 32px
    font-weight: 600

h4, .h4
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 24px
    line-height: 24px
    font-weight: 600

h5, .h5 
    font-family: 'Rubik-SemiBold', sans-serif
    font-size: 16px
    line-height: 24px
    font-weight: 600

.italic
    font-style: italic

button
    box-shadow: none!important
    outline: none
    border-radius: 0
    border: none
    background-color: transparent

.button_1
    border-radius: 100px
    padding: 12px 28px
    width: fit-content
    color: $white
    transition: 1s
    cursor: pointer
    display: flex
    align-items: center
    

.button_2 
    padding: 10px 24px
    color: $accentColor
    width: fit-content
    transition: 1s
    cursor: pointer
    background-color: transparent
    border: 1px solid #8041FF
    border-radius: 100px
    display: flex
    align-items: center

.btn-purple 
    background-color: $accentColor

.btn-pink
    background-color: $pink

.mb-12
    margin-bottom: 12px
.mb-16
    margin-bottom: 16px
.mb-20
    margin-bottom: 20px
.mb-24
    margin-bottom: 24px
.mb-32
    margin-bottom: 32px
.mb-40
    margin-bottom: 40px
.mb-50
    margin-bottom: 50px
.mb-60
    margin-bottom: 60px
.mb-80
    margin-bottom: 80px
.mb-160
    margin-bottom: 160px
.mb-180
    margin-bottom: 180px
.pb-10
    padding-bottom: 10px!important
.pb-48
    padding-bottom: 48px
.pb-80
    padding-bottom: 80px
.pb-85
    padding-bottom: 85px
.pb-120
    padding-bottom: 120px
.pt-120
    padding-top: 120px

.logo 
    width: 74px
    height: 86px
    color: red

.swiper 
    overflow: hidden

.swiper-button-disabled
    opacity: .3
    
header 
    position: relative
    left: 0
    right: 0
    top: 0
    z-index: 999
    padding: 15px 0

    .logo

    .header-rectangle
        background-image: url('/svg/headerRectangle.svg')
        background-repeat: no-repeat
        top: 165%
        left: 6%
        transform: translateY(-50%)
        position: absolute
        width: 166.97px
        height: 383px
        z-index: -1

    nav
        width: 60%
    .header-contacts-messengers
        display: flex
        justify-content: space-between
        align-items: center
        width: 140px
    a
        color: $text
        

.head 
    z-index: 10
    .imgHead-box
        position: relative
        z-index: 0
    .imgHead-box::before
        content:""
        position: absolute
        background-image: url('/svg/imgHead-small1.svg')
        background-repeat: no-repeat
        background-size: contain
        width: 243px
        height: 243px
        top: 0
        right: 0
        transform: translate(-15%, -30%)
        z-index: -1

    .imgHead-box::after
        content:""
        position: absolute
        background-image: url('/svg/imgHead-small2.svg')
        background-repeat: no-repeat
        background-size: contain
        width: 243px
        height: 243px
        bottom: 0
        left: 0
        transform: translate(-55%, -55%)
        z-index: -1

    .head-inner 
        width: 650px

        .btn-group
            gap:20px
    
    .head-advt
        width: 425px
        gap: 28px
        display: flex
        align-items: center
        cursor: pointer

        .advt-box
            width: 338px
    
    .pseudo 
        position: absolute
        top: -15%
        left: 8%
        background-image: url(/svg/bigRectangle.svg)
        background-repeat: no-repeat
        background-size: cover
        width: 449px
        height: 928px
        border-radius: 300px
        transform: rotate(-145deg)
        z-index: -1

    // .pseudo2
    //     position: absolute
    //     bottom: 0
    //     right: 0
    //     background-image: url(/svg/headRectangleSmall.svg)
    //     background-repeat: no-repeat
    //     background-size: cover
    //     width: 133px
    //     height: 328px
    //     border-radius: 100px
    //     transform: rotate(-145deg)
    //     z-index: -1


.container-slider-pagination
    .swiper-pagination
        bottom: -40px
        position: absolute
        .swiper-pagination-bullet
            opacity: 1
            background: $light-grey
            width: 10px
            height: 10px
            margin: 0 10px
        .swiper-pagination-bullet-active
            background: $accentColor

.history-text-box 
    width: 654px

.school
    
    .school-box-wrapper
        background-color: red 

        .school-box-inner
            display: grid
            row-gap: 24px
            column-gap: 30px
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr

            .school-box
                background-color: #F4F2F7
                width: 312px
                height: 292px
                border-radius: 12px
                padding: 40px

.advantages
    .grid-box
        display: grid
        gap: 30px
        grid-template-columns: 1fr 1fr
        grid-template-rows: repeat(2, 1fr)
        width: 654px

        div 
            width: 312px
            height: 312px

.advantages-list-1 li 
        list-style: none
        background: url('/img/main/advantages/marker1.svg') no-repeat 0 0px
        padding-left: 36px
                    
.advantages-list-2 li
        list-style: none
        background: url('/img/main/advantages/marker2.svg') no-repeat 0 0px
        padding-left: 36px

        